:root{
    --background-color : rgb(15, 16, 20);

    --text-color-primary : rgb(238, 60, 60);

    --text-color-secondary : rgb(172, 170, 170);

    --padding-container-x : 5rem;
    --padding-container-y : 15vh;
    --margin-sub-contenaier-y : 2rem;
    --margin-sub-contenaier-x : 0;

}