:root{
    --background-color : white;
    

    --text-color-primary : rgb(238, 60, 60);

    --text-color-secondary : rgb(49, 48, 48);

    --text-color-simple : rgb(145, 144, 144);

    --padding-container-x : 5rem;
    --padding-container-y : 15vh;
    --margin-sub-contenaier-y : 2rem;
    --margin-sub-contenaier-x : 0;

}